
.about{
  height: 40vh;
  width: 100%;
  
  display: flex;
}

.about-container {
  height: 50%;
  width: 100%;
  text-align: center;
  align-items: center;
  justify-content: space-around;
  margin: 30px;
  display: flex;
  flex-wrap: wrap;
}


.about-text .about-p{
    margin: 30px 55px;
    justify-content: space-around;
    line-height: 30px;
}


/** Media Screen for Smartphones **/
@media screen and (width: 400px) {
    .about{
        height: 80vh;
      }
      
      .about-text .about-p{
        margin: 30px 50px;
        justify-content: space-around;
        line-height: 25px;
    }
}
